.message {
    text-align: start;
    padding: 5px 10px;
    width: fit-content;
    margin: 10px;
}

.message__user {
    margin-left: auto;
    color: white !important;
    text-align: right !important;
}

.message__userCard {
    background-color: #0b81ff !important;
}

.message__guestCard {
    background-color: #e9e9eb !important;
}

.message__userName {
    color: #6B6B6C
}